body {
  margin: 0px;
  background-color: black;
}
#lyricsContainer {
  position: absolute;
  bottom: 5%;
  width: 100%;
  text-align: center;
}
#lyricsText {
  background-color: black;
  white-space: pre;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: large;
}
* {
  color: white;
  font-family: helvetica;
  font-weight: 100;
}
a {
  color: cyan;
}
ul {
  text-align: left;
  margin-left: 5%;
  list-style-type: bengali;
  max-width: 662px;
  margin: auto;
}
.overlay {
  position: absolute;
}
#tutorial {
  font-size: large;
  text-align: center;
  width: 90%;
  left: 5%;
  top: 5%;
}
#closingCredits {
  top: 10px;
  font-size: large;
  left: 5%;
  width: 90%;
  top: 5%;
  opacity: 0;
  display: none;
}
#loadingTextWrapper {
  position: absolute;
  top: 90%;
  width: 100%;
  text-align: center;
}
#loadingText {
  color: white;
  font-size: xx-large;
  font-weight: 400;
  opacity: 1;
}
.button {
  display: none;
  opacity: 0.5;
  position: absolute;
  width: 54px;
  height: 40px;
  bottom: 0px;
  background-size: 100%;
  background-repeat: no-repeat;
}
.button:hover {
  opacity: 1;
}
#reload-button {
  right: 162px;
  background-image: url(img/reload.jpg);
}
#cc-button {
  right: 54px;
  background-image: url(img/cc-button.jpg);
}
#lores-button {
  right: 108px;
  background-image: url(img/lo-res.jpg);
}
#hires-button {
  right: 108px;
  background-image: url(img/hi-res.jpg);
}
#muchFact-logo {
  background-image: url(img/muchfact-logo.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 250px;
  height: 75px;
}
